In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np
import re
import os

In [4]:
housing_df = pd.read_csv('housing_case.csv')

In [5]:
housing_df.head()

,ID,address,price,info,city,state,Unnamed: 6,Unnamed: 7
0,1,"601 Melville Ave, Palo Alto, CA 94301\n\t\t\t\...","17,500,000","\n5 bds\n6 ba\n7,823 sqft\n",Palo Alto,CA,NaN,NaN
1,2,"1394 San Mateo Dr, Menlo Park, CA 94025\n\t\t\...","15,650,000","\n7 bds\n7 ba\n7,459 sqft\n",Menlo Park,CA,NaN,NaN
2,3,"1820 S Lakeline Dr, Salt Lake City, UT\n\t\t\t...","8,750,000",\n37.03 acres lot\n\n,Salt Lake City,UT,NaN,NaN
3,4,"1835 White Oak Dr, Menlo Park, CA 94025\n\t\t\...","8,495,000","\n5 bds\n7 ba\n5,555 sqft\n",Menlo Park,CA,NaN,NaN
4,5,"840 Magnolia St, Menlo Park, CA 94025\n\t\t\t\...","7,995,000","\n5 bds\n7 ba\n5,600 sqft\n",Menlo Park,CA,NaN,NaN

In [6]:
case_df = housing_df[['address','price','info','city','state']]
case_df.head()

,address,price,info,city,state
0,"601 Melville Ave, Palo Alto, CA 94301\n\t\t\t\...","17,500,000","\n5 bds\n6 ba\n7,823 sqft\n",Palo Alto,CA
1,"1394 San Mateo Dr, Menlo Park, CA 94025\n\t\t\...","15,650,000","\n7 bds\n7 ba\n7,459 sqft\n",Menlo Park,CA
2,"1820 S Lakeline Dr, Salt Lake City, UT\n\t\t\t...","8,750,000",\n37.03 acres lot\n\n,Salt Lake City,UT
3,"1835 White Oak Dr, Menlo Park, CA 94025\n\t\t\...","8,495,000","\n5 bds\n7 ba\n5,555 sqft\n",Menlo Park,CA
4,"840 Magnolia St, Menlo Park, CA 94025\n\t\t\t\...","7,995,000","\n5 bds\n7 ba\n5,600 sqft\n",Menlo Park,CA

In [7]:
case_df["int_price"]=''
case_df.head()

C:\Users\Matt\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,address,price,info,city,state,int_price
0,"601 Melville Ave, Palo Alto, CA 94301\n\t\t\t\...","17,500,000","\n5 bds\n6 ba\n7,823 sqft\n",Palo Alto,CA,
1,"1394 San Mateo Dr, Menlo Park, CA 94025\n\t\t\...","15,650,000","\n7 bds\n7 ba\n7,459 sqft\n",Menlo Park,CA,
2,"1820 S Lakeline Dr, Salt Lake City, UT\n\t\t\t...","8,750,000",\n37.03 acres lot\n\n,Salt Lake City,UT,
3,"1835 White Oak Dr, Menlo Park, CA 94025\n\t\t\...","8,495,000","\n5 bds\n7 ba\n5,555 sqft\n",Menlo Park,CA,
4,"840 Magnolia St, Menlo Park, CA 94025\n\t\t\t\...","7,995,000","\n5 bds\n7 ba\n5,600 sqft\n",Menlo Park,CA,

In [8]:
no_nullhousing_df = case_df.dropna(how='any')
no_nullhousing_df.count()

address      1918
price        1918
info         1918
city         1918
state        1918
int_price    1918
dtype: int64

In [9]:
no_nullhousing_df["city"].value_counts()

Cupertino         40
Oakland           40
Hampton           40
Richardson        40
Los Angeles       40
Brooklyn          40
Mountain View     40
Charlotte         40
Dallas            40
Norfolk           40
Centennial        40
Jacksonville      40
Houston           40
Scottsdale        40
Redmond           40
Irving            40
San Francisco     40
Long Beach        40
Salt Lake City    40
Burbank           40
Philadelphia      40
Arlington         40
Plano             40
Jersey City       40
Phoenix           40
Austin            40
Tempe             40
Seattle           40
Santa Monica      40
Columbus          40
Redwood City      40
Santa Clara       40
Chicago           40
San Jose          40
San Diego         40
New York          40
Foster City       40
Menlo Park        40
Sunnyvale         40
San Mateo         39
Downers Grove     39
Wilmington        39
San Antonio       39
Indianapolis      39
Denver            39
Palo Alto         39
Fort Worth        38
El-Segundo        28
Lake Success      19
Name: city, dtype: int64

In [10]:
city_list = list(set(no_nullhousing_df['city']))

In [11]:
for index in no_nullhousing_df.index:
    no_nullhousing_df.iloc[index]['int_price'] = int(no_nullhousing_df.iloc[index]['price'].replace(',',''))

In [12]:
no_nullhousing_df.head()

,address,price,info,city,state,int_price
0,"601 Melville Ave, Palo Alto, CA 94301\n\t\t\t\...","17,500,000","\n5 bds\n6 ba\n7,823 sqft\n",Palo Alto,CA,17500000
1,"1394 San Mateo Dr, Menlo Park, CA 94025\n\t\t\...","15,650,000","\n7 bds\n7 ba\n7,459 sqft\n",Menlo Park,CA,15650000
2,"1820 S Lakeline Dr, Salt Lake City, UT\n\t\t\t...","8,750,000",\n37.03 acres lot\n\n,Salt Lake City,UT,8750000
3,"1835 White Oak Dr, Menlo Park, CA 94025\n\t\t\...","8,495,000","\n5 bds\n7 ba\n5,555 sqft\n",Menlo Park,CA,8495000
4,"840 Magnolia St, Menlo Park, CA 94025\n\t\t\t\...","7,995,000","\n5 bds\n7 ba\n5,600 sqft\n",Menlo Park,CA,7995000

In [13]:
item_df = pd.DataFrame(columns = ["city", "state", 'max_price', 'min_price', 'mean_price'])

In [14]:
for item in city_list:    
    temp_df = no_nullhousing_df[(no_nullhousing_df.city==item)]
    maxprice = temp_df['int_price'].max()
    minprice = temp_df['int_price'].min()
    meanprice = temp_df['int_price'].mean()
#     meanprice = 0
#     thestate = 0
    thestate = temp_df['state'].iloc[0]
    item_df = item_df.append(pd.DataFrame({'city': [item], 'state': [thestate], 'max_price': [maxprice], 'min_price': [minprice], 'mean_price': [meanprice]}))

In [32]:
# reset index
item_df.reset_index(drop=True, inplace=True)

# Write location field
item_df["location"] = item_df["city"] + ", " + item_df["state"]

# rearrange columns
city_house = item_df[['location', 'max_price', 'min_price', 'mean_price']]

# convert datatypes
city_house['max_price'] = city_house['max_price'].astype(str).astype(int)
city_house['min_price'] = city_house['min_price'].astype(str).astype(int)

#pd.options.display.float_format = '{:,.0f}'.format
city_house.mean_price = city_house.mean_price.astype(int)

C:\Users\Matt\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Matt\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [31]:
#item_df.to_excel('study.xlsx', sheet_name= 'Sheet1')


outname = 'zillowsummary.csv'

outdir = './output_data'
if not os.path.exists(outdir):
    os.mkdir(outdir)

fullname = os.path.join(outdir, outname)    

city_house.to_csv(fullname)